---
import { getSiteSettings } from '../lib/sanity/content';

const settings = await getSiteSettings();
const nav = settings.navLabels ?? {};
---
<header class="top">
<a class="who" href="/"><b>{settings.professionalTitle ?? 'Architectural Designer'}</b><span>Hyunju Kim</span><em>{settings.credentialLine ?? ''}</em></a>
<a class="mono" href="/">Hyunju Kim</a>
<div class="nav">
<span class="pages"><a href="/">{nav.work ?? 'Work'}</a><a href="/portfolio">{nav.book ?? 'Book'}</a><a href="/about">{nav.about ?? 'About'}</a><a href="/observations">{nav.observations ?? 'Observations'}</a><a href={`mailto:${settings.email}`}>{nav.email ?? 'Email'}</a></span>
</div>
</header>
