---
---
<header class="top">
<a class="who" href="/"><b>Architectural Designer</b><span>Hyunju Kim</span><em>LEED AP BD+C</em></a>
<a class="mono" href="/">Hyunju Kim</a>
<div class="nav">
<span class="pages"><a href="/">Work</a><a href="/portfolio">Book</a><a href="/about">About</a><a href="/observations">Observations</a><a href="mailto:hyunju.kim.0509@gmail.com">Email</a></span>
</div>
</header>
