---
---
<section class="hero">
<div class="hero-inner">
<h1 class="wordmark">Hyunju Kim</h1>
<div class="hero-foot">
<p class="statement">Environmental systems, material ecologies,<br />and adaptive spatial frameworks.</p>
<a class="viewwork" href="#work">View Work<span aria-hidden="true">&nbsp;&darr;</span></a>
</div>
</div>
</section>
